# Machine Learning Final Project
**Logan Dawes**

CS4783

### Import Libraries

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer

### Load Dataset
In this step, we are going to first load all 4 datasets and preview thier first 5 rows to confirm that they have been loaded and plan a method of joining the tables into one unified dataset.

In [15]:
# Load datasets
food_data = pd.read_csv('food.csv')
branded_food_data = pd.read_csv('branded_food.csv')
nutrient_data = pd.read_csv('nutrient.csv')
food_nutrient_data = pd.read_csv('food_nutrient.csv')

C:\Users\zobbl\AppData\Local\Temp\ipykernel_33484\2144871043.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  food_data = pd.read_csv('food.csv')
C:\Users\zobbl\AppData\Local\Temp\ipykernel_33484\2144871043.py:3: DtypeWarning: Columns (2,3,4,6,12,16,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  branded_food_data = pd.read_csv('branded_food.csv')

In [16]:
# Display the first few rows of food data
food_data.head()

,fdc_id,data_type,description,food_category_id,publication_date,market_country,trade_channel,microbe_data
0,1105904,branded_food,WESSON Vegetable Oil 1 GAL,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
1,1105905,branded_food,SWANSON BROTH BEEF,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
2,1105906,branded_food,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
3,1105907,branded_food,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
4,1105908,branded_food,SWANSON BROTH CHICKEN,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."

In [17]:
# Display the first few rows of branded food data
branded_food_data.head()

,fdc_id,brand_owner,brand_name,subbrand_name,gtin_upc,ingredients,not_a_significant_source_of,serving_size,serving_size_unit,household_serving_fulltext,...,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description,material_code
0,1105904,Richardson Oilseed Products (US) Limited,NaN,NaN,27000612323,Vegetable Oil,NaN,15.0,ml,1 Tbsp (15 ml),...,GDSN,NaN,2020-10-02,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
1,1105905,CAMPBELL SOUP COMPANY,NaN,NaN,51000198808,"INGREDIENTS: BEEF STOCK, CONTAINS LESS THAN 2%...",NaN,240.0,ml,Amount per serving,...,GDSN,NaN,2020-09-12,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
2,1105906,CAMPBELL SOUP COMPANY,NaN,NaN,51000213273,"INGREDIENTS: CLAM STOCK, POTATOES, CLAMS, CREA...",NaN,440.0,g,PER CONTAINER,...,GDSN,NaN,2020-09-01,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
3,1105907,CAMPBELL SOUP COMPANY,NaN,NaN,51000213303,"INGREDIENTS: WATER, CREAM, BROCCOLI, CELERY, V...",NaN,440.0,g,PER CONTAINER,...,GDSN,NaN,2020-09-01,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
4,1105908,CAMPBELL SOUP COMPANY,NaN,NaN,51000224637,"INGREDIENTS: CHICKEN STOCK, CONTAINS LESS THAN...",NaN,240.0,ml,Amount per Serving,...,GDSN,NaN,2020-10-03,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN

In [18]:
# Display the first few rows of nutrient data
nutrient_data.head()

     id                               name unit_name  nutrient_nbr   rank
0  2047   Energy (Atwater General Factors)      KCAL         957.0  280.0
1  2048  Energy (Atwater Specific Factors)      KCAL         958.0  290.0
2  1001                             Solids         G         201.0  200.0
3  1002                           Nitrogen         G         202.0  500.0
4  1003                            Protein         G         203.0  600.0

In [19]:
# Display the first few rows of food nutrient data
food_nutrient_data.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,13706927,1105904,1257,0.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN
1,13706930,1105904,1293,53.33,NaN,71.0,NaN,NaN,NaN,NaN,NaN
2,13706926,1105904,1253,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
3,13706921,1105904,1092,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
4,13706916,1105904,1008,867.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN

### Join Dataset
First we can merge food data and branded food data on fdc_id.

In [20]:
# Join Food Datasets
merged_food_data = food_data.merge(branded_food_data, on='fdc_id', how='left')
merged_food_data.head()

,fdc_id,data_type,description,food_category_id,publication_date,market_country_x,trade_channel_x,microbe_data,brand_owner,brand_name,...,data_source,package_weight,modified_date,available_date,market_country_y,discontinued_date,preparation_state_code,trade_channel_y,short_description,material_code
0,1105904,branded_food,WESSON Vegetable Oil 1 GAL,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""...",Richardson Oilseed Products (US) Limited,NaN,...,GDSN,NaN,2020-10-02,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
1,1105905,branded_food,SWANSON BROTH BEEF,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""...",CAMPBELL SOUP COMPANY,NaN,...,GDSN,NaN,2020-09-12,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
2,1105906,branded_food,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""...",CAMPBELL SOUP COMPANY,NaN,...,GDSN,NaN,2020-09-01,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
3,1105907,branded_food,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""...",CAMPBELL SOUP COMPANY,NaN,...,GDSN,NaN,2020-09-01,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
4,1105908,branded_food,SWANSON BROTH CHICKEN,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""...",CAMPBELL SOUP COMPANY,NaN,...,GDSN,NaN,2020-10-03,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN

Next to merge the nutrient data, we'll need to rename id in nutrient_data to nutrient_id to join it with food_nutrient_data.

In [21]:
# Rename id column in nutrient_data to nutrient_id for clarity
nutrient_data.rename(columns={'id': 'nutrient_id'}, inplace=True)

# Join nutrient datasets
merged_nutrient_data = food_nutrient_data.merge(nutrient_data, on='nutrient_id', how='left')
merged_nutrient_data.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,name,unit_name,nutrient_nbr,rank
0,13706927,1105904,1257,0.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G,605.0,15400.0
1,13706930,1105904,1293,53.33,NaN,71.0,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total polyunsaturated",G,646.0,12900.0
2,13706926,1105904,1253,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN,Cholesterol,MG,601.0,15700.0
3,13706921,1105904,1092,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN,"Potassium, K",MG,306.0,5700.0
4,13706916,1105904,1008,867.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN,Energy,KCAL,208.0,300.0

Before merging the nutrient data into the food dataset, note that each nutrient is currently represented as a separate record for each food item. However, our goal is to have one record per food item, with each nutrient as a separate column.

To accomplish this we will first need to select which features of the nutrient are relevant.

In [27]:
# Nutrient dataset features and datatype
merged_nutrient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25652681 entries, 0 to 25652680
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   id                 int64
 1   fdc_id             int64
 2   nutrient_id        int64
 3   amount             float64
 4   data_points        float64
 5   derivation_id      float64
 6   min                float64
 7   max                float64
 8   median             float64
 9   footnote           float64
 10  min_year_acquired  float64
 11  name               object
 12  unit_name          object
 13  nutrient_nbr       float64
 14  rank               float64
dtypes: float64(10), int64(3), object(2)
memory usage: 2.9+ GB

In [28]:
# Nutrient dataset null values
merged_nutrient_data.isnull().sum()

id                          0
fdc_id                      0
nutrient_id                 0
amount                      0
data_points          25652681
derivation_id             830
min                  25652681
max                  25652681
median               25652681
footnote             25652681
min_year_acquired    25652681
name                        0
unit_name                   0
nutrient_nbr                0
rank                     4710
dtype: int64

From this brief analysis we can gather that the most relevant features will be fdc_id, name, unit_name, and amount.

fdc_id will be used to join the nutrient to its corresponding food item.

name will be the name of the feature (nutrient name).

amount and unit_name will be the value of the feature (how much of that nutrient).

Features excluded such as min, max, median will be reintroduced later on with statistics calculations.

Before we can merge the datasets we need to normalize nutrient's amount.

In [30]:
# List every unique value of unit_name in the nutrient dataset and the count
merged_nutrient_data['unit_name'].value_counts()

unit_name
G         13180883
MG         8905759
KCAL       1841010
IU         1362369
UG          354955
MG_ATE        7672
kJ              33
Name: count, dtype: int64

From this analysis, we can convert nutrients into three groups: grams, kcalories, and international units.

In [ ]:
# Normalize all nutrient values to grams, kcal, or IU (no cross-group conversion)
def normalize_nutrient(row):
    unit = row['unit_name'].upper() if isinstance(row['unit_name'], str) else row['unit_name']
    # Grams group
    if unit == 'G':
        return row['amount']
    elif unit in ['MG', 'MG_ATE']:
        return row['amount'] / 1000  # mg to g
    elif unit == 'UG':
        return row['amount'] / 1e6  # ug to g
    elif unit == 'KG':
        return row['amount'] * 1000  # kg to g
    # kcal group
    elif unit == 'KCAL':
        return row['amount']
    elif unit == 'KJ':
        return row['amount'] * 0.239006  # kJ to kcal
    # IU group
    elif unit == 'IU':
        return row['amount']
    else:
        return np.nan  # Unknown or unsupported unit

merged_nutrient_data['amount'] = merged_nutrient_data.apply(normalize_nutrient, axis=1)

In [25]:
# Pivot nutrients so each nutrient becomes a column
nutrient_pivot = merged_nutrient_data.pivot_table(
    index='fdc_id',
    columns='name',
    values='amount'
)

# Join Both Datasets using pivot
final_food_data = merged_food_data.merge(nutrient_pivot, on='fdc_id', how='left')
final_food_data.head()

,fdc_id,data_type,description,food_category_id,publication_date,market_country_x,trade_channel_x,microbe_data,brand_owner,brand_name,...,"Vitamin D (D2 + D3), International Units",Vitamin D2 (ergocalciferol),Vitamin D3 (cholecalciferol),Vitamin E,Vitamin E (alpha-tocopherol),Vitamin E (label entry primarily),Vitamin K (phylloquinone),Water,Xylitol,"Zinc, Zn"
0,1105904,branded_food,WESSON Vegetable Oil 1 GAL,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""...",Richardson Oilseed Products (US) Limited,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1105905,branded_food,SWANSON BROTH BEEF,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""...",CAMPBELL SOUP COMPANY,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1105906,branded_food,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""...",CAMPBELL SOUP COMPANY,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1105907,branded_food,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""...",CAMPBELL SOUP COMPANY,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1105908,branded_food,SWANSON BROTH CHICKEN,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""...",CAMPBELL SOUP COMPANY,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Step 1: Exploratory Data Analysis (EDA)

### Data Exploration

### Missing Values

### Class Imbalance

### Univariate Analysis

### Bivariate Analysis

### Outliers

## Step 2: Feature Engineering

### Feature Selection

### Feature Encoding

### Feature Scaling

### Normalization